#map {
  height: calc(100vh - 77px);
  width: 100%;
 }
.icon{
  width:50px;
  float:left;
}
.title{
  font-size: 250%;
}
 .elevation-list{
    cursor: pointer;
  }
  .location, .location-list, .elevation-list{
    text-align: center;
  }
.button {
  display: block;
  text-align: center;
  margin: auto;
}
